.landing-image {
    max-width: 40%;
    border-radius: 15px;

    @media screen and (max-width: 390px) {
        max-width: 90%;
    }

    @media screen and (max-width: 414px) {
        max-width: 70%;
    }
}
